/vendor/

composer.phar


### File-system cruft and temporary files
__*
._*
.*.swp
.swp
*.lock
!symfony.lock
*lock.json
!package-lock.json
.buildpath

### Platfom-specific files
.DS_Store
thumbs.db
Vagrantfile
.vagrant*
.idea
.vscode/*
appveyor.yml

/var/cache/*